@use "../../styles/variables.module.scss" as *;

.productsContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    margin: 50px 80px;
    padding: 50px 0px 0px;
    border: 1px solid $border-gray;
    border-radius: 30px;
    position: relative;
}


.productImg {
    max-width: 100%;
    width: 200px;
    margin: 5px;
    box-shadow: 3px 4px 3px 4px $shadow-gray;
}

.productName {
    width: 200px;
    margin: 10px auto;
  
}

.productPrice {
    font-size: 18px;
    color: $blue;
    margin-top: 10px;
}

.productName,
.productPrice {
    font-weight: bold;
    margin-bottom: 15px;
}

.heartIconRegular {
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 22px;
    color: $heart-icon;
}

.heartIconRegular:hover {
    cursor: pointer;
}

