@use "../../styles/variables.module.scss" as *;

.productList {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.productContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: flex-start;
    min-width: 300px;
    margin: 50px auto;
    padding: 50px 0px 0px;
    border: 1px solid $border-gray;
    border-radius: 30px;
    position: relative;
}

.productImg {
    max-width: 100%;
    height: 200px;
    width: 200px;
    margin: 5px auto;
    box-shadow: 3px 4px 3px 4px $shadow-gray;
}

.productName {
    width: 200px;
    margin: 10px auto; 
}

.productPrice {
    font-size: 18px;
    color: $blue;
    margin-top: 10px;
}

.productName,
.productPrice {
    font-weight: bold;
    margin-bottom: 15px;
}

.heartIconRegular,
.heartIconSolid {
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 22px;
    color: $heart-icon;
}

.heartIconSolid {
    color: $red;
}

.heartIconRegular:hover {
    cursor: pointer;
}

.aLink {
    text-decoration: none;
    color: black;
}

.aLink:hover {
    cursor: pointer;
}



@media screen and (max-width: 550px) {

    .productList {
        min-width: 550px;
    }

    .productContainer {
        min-width: 300px;
        margin: 20px auto;
       
    }
}