@use "../../styles/variables.module.scss" as *;

.loginPageContainer {
    display: flex;
}

.introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    height: 100vh;
    background: linear-gradient($blue, $dark-blue,)
}

.formContainer {
  width: 400px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

.storeName,
.description {
    margin-left: 150px;
    color: $white;
}

.storeName {
    font-size: 40px;
}

.description {
    font-size: 18px;
    font-weight: bold;
}

.email,
.password {
    display: block;
}

.loginTitle {
    font-size: 33px;
    font-weight: bold;
}

.loginSubtitle {
    font-size: 25px;
    margin-bottom: 35px;
}

.email,
.password,
.loginBtn,
.fullName,
.phoneNumber
{
    padding: 20px 60px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 1px solid $border-gray;
}

.loginBtn {
    background-color: $blue;
    color: $white;
    width: 290px;
}

.loginBtn:hover {
    cursor: pointer;
}


.inputContainer {
    position: relative;
}

.faIcon {
    position: absolute;
    top: 20px;
    left: 30px;
    opacity: 0.4;
}

.errorMsg {
    text-align: left;
    width: 220px;
    color: $red;
    font-size: 12px;
    margin: 0 10px 15px;
}

.aLink {
    display: block;
    text-decoration: none;
    color: $link-gray;
    text-align: center;
    width: 290px;
    font-weight: bold;
}

.aLink:hover {
    cursor: pointer;
}


// Media Queries 

@media screen and (max-width:1000px) {
   .storeName,
   .description {
        margin-left: 50px;
   }
   .formContainer {
        max-width: 200px;
   }
    .email,
    .password,
    .loginBtn,
    .fullName,
    .phoneNumber {
        padding: 15px 45px;
    }

    .loginPageContainer {
        max-width: 800px;
    }

    .faIcon {
        top: 15px;
        left: 20px;
    }

    .loginBtn {
        width: 265px;
    }

    .loginTitle {
        font-size: 25px;
        font-weight: bold;
    }
    
    .loginSubtitle {
        font-size: 15px;
        margin-bottom: 20px;
    }
 
}


@media screen and (max-width: 800px){

    .loginContainer {
        margin-right: 150px;
    }

    .storeName,
    .description {
         margin-left: 30px;
    }

    .storeName {
        font-size: 30px;
    }

    .description {
        font-size: 15px;
    }

    .email,
    .password,
    .loginBtn,
    .fullName,
    .phoneNumber {
        padding: 10px 35px;
    }

    .loginBtn {
        width: 240px;
    }

    .faIcon {
        top: 10px;
        left: 15px;
    }   
}

@media screen and (max-width: 600px) {
    .introContainer {
        padding-right: 50px;
    }

    .loginContainer {
        margin-left: 50px;
    }

}

@media screen and (max-width: 500px) {
    .loginPageContainer {
        flex-direction: column;
        align-items: center;
    }

    .introContainer {
        max-width: 500px;
        max-height: 200px;
        text-align: center;
    }

    .loginContainer {
        width: 450px;
        align-items: center;
        margin: 0;
    }

    .email,
    .password,
    .loginBtn,
    .fullName,
    .phoneNumber {
        padding: 20px 60px;
    }

    .loginBtn {
        width: 290px;
    }

    .faIcon {
        top: 20px;
        left: 30px;
    }


}