

$blue: #4f46e5;
$dark-blue: #022181;
$white: #ffffff;
$whitish: #fdfdfd;
$light-gray: #f2f2f2;
$darker-gray: #c7cdd6;
$shadow-gray: #b6b6b6;
$link-gray: #979797;
$border-gray: #e7e8ea;
$heart-icon: #d1d1d1;
$red: red;